body {
	background: #93b874;
}

.container {
	width: 1020px;
	margin: 0 auto;
	background: white;
	padding: 40px;
	padding-left: 100px;
	padding-right:10px;
}

hr{
	width: 91%;
	margin-left: 0px;
}

a {
	text-decoration: none;
	color: #93b874;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

ol {
	padding: 0px;
}

li {
	font-family: arial,sans-serif;
	margin-bottom:40px;
	margin-top: 10px;
	width: 80%;
	font-size: 18px;
}

h1 {
	font-family: arial,sans-serif;
	font-weight: bold;
}

h2 {
	font-family: arial,sans-serif;
	font-weight: bold;
}

h3 {
	font-family: arial,sans-serif;
	font-weight: bold;
}


.nav1 {
	font-family: arial,sans-serif;
}

.nav2 {
	font-style: italic;
	font-family: arial,sans-serif;
	color: rgb(100,100,100);
	width: 90%;
}

img {
	width:80%;
}

.line2{
	border: 1px dashed;
	color: rgb(150,150,150);

}